body{
	margin: 0;
	padding: 0;
	background-image: url(images/.PNG);
	background-color: #cccaaa;
	background-size: cover;
	background-repeat: initial;
	background-position: center;
	font-family: sans-serif;

}
.loginbox{
	width: 320px;
	height: 420px;
	background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
	color: #FFF;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius:40%;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
 .loginbox label{
 	margin: 0;
 	padding: 0;
 	font-weight: bold;
 }

 .loginbox input{
 	width: 100%;
 	margin-bottom: 20px;
 }
.loginbox input[type="text"], input[type="email"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #FFF;
	background:transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background:#fff777;
    color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover{
	color: orange;
}
